h1 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 8vh !important;
}
.subs {
	font-size: 4vh !important;
}
#gap {
	font-size: 9vh !important;
}

.subgap {
	font-size: 3.5vh !important;
}
.copy {
	transition-duration: 1000ms;
	position: absolute;
	bottom: 5vh;
	right: 5vh;
	cursor: pointer;
	font-size: 2.5vh;
}
.copy:hover {
	transition-duration: 200ms;
	color: #ef5350;
}
body.dark {
	transition-duration: 500ms;
	color: white;
	background: #303030;
}
.toggledarkmode {
	position: absolute;
	bottom: 5vh;
	left: 5vh;
	cursor: pointer;
}
body {
	transition-duration: 500ms;
}
a {
	text-decoration: none;
	color: black;
}
.bar-con {
	background-color: #ccc;
	height: 1em;
	margin-bottom: 1em;
	width: 50%;
}
.bar {
	float: left;
	height: 100%;
	width: 0%;
	max-width: 100%;
}
.bar-one .bar {
	background-color: #de003d;
	transition: width ease-in 1s;
	-webkit-transition: width ease-in 1s;
	-moz-transition: width ease-in 1s;
	-o-transition: width ease-in 1s;
}

body.alert {
	background-color: #de003d;
	-webkit-animation-name: example; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
	animation-name: example;
	animation-duration: 1s;
	animation-iteration-count: 1000000;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
	from {
		background-color: #de003d;
	}
	to {
		background-color: red;
	}
}

/* Standard syntax */
@keyframes example {
	0% {
		background-color: #5c0018;
	}
	40% {
		background-color: #ac002e;
	}
	60% {
		background-color: #b30030;
	}
	80% {
		background-color: #c90539;
	}
	100% {
		background-color: #5a0018;
	}
}
body {
	font-family: Arial, Helvetica, sans-serif;
}
:root,
[data-theme="dark"] {
	--color: hsl(0, 0%, 100%);
	--color-bg: hsl(240, 8%, 12%);
}

[data-theme] {
	background-color: var(--color-bg) !important;
	color: var(--color) !important;
}

@supports (--css: variables) {
	[data-theme="default"] {
		--color-bg: hsl(0, 0%, 100%);
		--color: hsl(240, 8%, 12%);
	}
}
